*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4be27bb4;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: #fbfbfb;
    width: 500px;
    height: auto;
    padding: 3rem;
    border-radius: 5px;
}

.qr-header{
    margin-bottom: 2rem;
    text-align: center;
}

.qr-header p{
    color: #7b7b7be7;
}

.qr-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.qr-form input{
    width: 300px;
    height: 50px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
    outline: none;

}

.qr-form button{
    width: 300px;
    height: 50px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #054e1c;
    color: #fbfbfb;
    font-size: 16px;
    cursor: pointer;
}
